<?xml version="1.0" encoding="UTF-8"?>

<plugin
		xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-lmn-crypto"
		version="1.0.3">
	<name>LMN Crypto</name>
	<description>Cordova LikeMindNetworks Crypto Plugin</description>
	<license>Apache 2.0</license>

	<js-module src="www/lmn-crypto.js" name="LMNCrypto">
		<clobbers target="LMNCrypto" />
	</js-module>

	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="LMNCrypto">
				<param
					name="android-package"
					value="com.likemindnetworks.crypto.AESCipherPlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<source-file
			src="src/android/AESCipherPlugin.java"
			target-dir="src/com/likemindnetworks/crypto" />

		<source-file
			target-dir="libs/" framework="true"
			src="src/android/lib/com.google/guava-19.0.jar" />
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="LMNCrypto">
				<param name="ios-package" value="LMNCrypto"/>
			</feature>
		</config-file>

		<header-file src="src/ios/LMNCrypto.h" />
		<source-file src="src/ios/LMNCrypto.mm" />

		<source-file src="src/ios/lib/libcryptopp.a" framework="true" />
		<header-file src="src/ios/include/cryptopp/lmn_3way.h" />
		<header-file src="src/ios/include/cryptopp/lmn_adler32.h" />
		<header-file src="src/ios/include/cryptopp/lmn_aes.h" />
		<header-file src="src/ios/include/cryptopp/lmn_algebra.h" />
		<header-file src="src/ios/include/cryptopp/lmn_algparam.h" />
		<header-file src="src/ios/include/cryptopp/lmn_arc4.h" />
		<header-file src="src/ios/include/cryptopp/lmn_argnames.h" />
		<header-file src="src/ios/include/cryptopp/lmn_asn.h" />
		<header-file src="src/ios/include/cryptopp/lmn_authenc.h" />
		<header-file src="src/ios/include/cryptopp/lmn_base32.h" />
		<header-file src="src/ios/include/cryptopp/lmn_base64.h" />
		<header-file src="src/ios/include/cryptopp/lmn_basecode.h" />
		<header-file src="src/ios/include/cryptopp/lmn_bench.h" />
		<header-file src="src/ios/include/cryptopp/lmn_blowfish.h" />
		<header-file src="src/ios/include/cryptopp/lmn_blumshub.h" />
		<header-file src="src/ios/include/cryptopp/lmn_camellia.h" />
		<header-file src="src/ios/include/cryptopp/lmn_cast.h" />
		<header-file src="src/ios/include/cryptopp/lmn_cbcmac.h" />
		<header-file src="src/ios/include/cryptopp/lmn_ccm.h" />
		<header-file src="src/ios/include/cryptopp/lmn_channels.h" />
		<header-file src="src/ios/include/cryptopp/lmn_cmac.h" />
		<header-file src="src/ios/include/cryptopp/lmn_config.h" />
		<header-file src="src/ios/include/cryptopp/lmn_cpu.h" />
		<header-file src="src/ios/include/cryptopp/lmn_crc.h" />
		<header-file src="src/ios/include/cryptopp/lmn_cryptlib.h" />
		<header-file src="src/ios/include/cryptopp/lmn_default.h" />
		<header-file src="src/ios/include/cryptopp/lmn_des.h" />
		<header-file src="src/ios/include/cryptopp/lmn_dh.h" />
		<header-file src="src/ios/include/cryptopp/lmn_dh2.h" />
		<header-file src="src/ios/include/cryptopp/lmn_dll.h" />
		<header-file src="src/ios/include/cryptopp/lmn_dmac.h" />
		<header-file src="src/ios/include/cryptopp/lmn_dsa.h" />
		<header-file src="src/ios/include/cryptopp/lmn_eax.h" />
		<header-file src="src/ios/include/cryptopp/lmn_ec2n.h" />
		<header-file src="src/ios/include/cryptopp/lmn_eccrypto.h" />
		<header-file src="src/ios/include/cryptopp/lmn_ecp.h" />
		<header-file src="src/ios/include/cryptopp/lmn_elgamal.h" />
		<header-file src="src/ios/include/cryptopp/lmn_emsa2.h" />
		<header-file src="src/ios/include/cryptopp/lmn_eprecomp.h" />
		<header-file src="src/ios/include/cryptopp/lmn_esign.h" />
		<header-file src="src/ios/include/cryptopp/lmn_factory.h" />
		<header-file src="src/ios/include/cryptopp/lmn_files.h" />
		<header-file src="src/ios/include/cryptopp/lmn_filters.h" />
		<header-file src="src/ios/include/cryptopp/lmn_fips140.h" />
		<header-file src="src/ios/include/cryptopp/lmn_fltrimpl.h" />
		<header-file src="src/ios/include/cryptopp/lmn_gcm.h" />
		<header-file src="src/ios/include/cryptopp/lmn_gf256.h" />
		<header-file src="src/ios/include/cryptopp/lmn_gf2_32.h" />
		<header-file src="src/ios/include/cryptopp/lmn_gf2n.h" />
		<header-file src="src/ios/include/cryptopp/lmn_gfpcrypt.h" />
		<header-file src="src/ios/include/cryptopp/lmn_gost.h" />
		<header-file src="src/ios/include/cryptopp/lmn_gzip.h" />
		<header-file src="src/ios/include/cryptopp/lmn_hex.h" />
		<header-file src="src/ios/include/cryptopp/lmn_hmac.h" />
		<header-file src="src/ios/include/cryptopp/lmn_hrtimer.h" />
		<header-file src="src/ios/include/cryptopp/lmn_ida.h" />
		<header-file src="src/ios/include/cryptopp/lmn_idea.h" />
		<header-file src="src/ios/include/cryptopp/lmn_integer.h" />
		<header-file src="src/ios/include/cryptopp/lmn_iterhash.h" />
		<header-file src="src/ios/include/cryptopp/lmn_lubyrack.h" />
		<header-file src="src/ios/include/cryptopp/lmn_luc.h" />
		<header-file src="src/ios/include/cryptopp/lmn_mars.h" />
		<header-file src="src/ios/include/cryptopp/lmn_md2.h" />
		<header-file src="src/ios/include/cryptopp/lmn_md4.h" />
		<header-file src="src/ios/include/cryptopp/lmn_md5.h" />
		<header-file src="src/ios/include/cryptopp/lmn_mdc.h" />
		<header-file src="src/ios/include/cryptopp/lmn_misc.h" />
		<header-file src="src/ios/include/cryptopp/lmn_modarith.h" />
		<header-file src="src/ios/include/cryptopp/lmn_modes.h" />
		<header-file src="src/ios/include/cryptopp/lmn_modexppc.h" />
		<header-file src="src/ios/include/cryptopp/lmn_mqueue.h" />
		<header-file src="src/ios/include/cryptopp/lmn_mqv.h" />
		<header-file src="src/ios/include/cryptopp/lmn_nbtheory.h" />
		<header-file src="src/ios/include/cryptopp/lmn_network.h" />
		<header-file src="src/ios/include/cryptopp/lmn_nr.h" />
		<header-file src="src/ios/include/cryptopp/lmn_oaep.h" />
		<header-file src="src/ios/include/cryptopp/lmn_oids.h" />
		<header-file src="src/ios/include/cryptopp/lmn_osrng.h" />
		<header-file src="src/ios/include/cryptopp/lmn_panama.h" />
		<header-file src="src/ios/include/cryptopp/lmn_pch.h" />
		<header-file src="src/ios/include/cryptopp/lmn_pem-com.h" />
		<header-file src="src/ios/include/cryptopp/lmn_pem.h" />
		<header-file src="src/ios/include/cryptopp/lmn_pkcspad.h" />
		<header-file src="src/ios/include/cryptopp/lmn_polynomi.h" />
		<header-file src="src/ios/include/cryptopp/lmn_pssr.h" />
		<header-file src="src/ios/include/cryptopp/lmn_pubkey.h" />
		<header-file src="src/ios/include/cryptopp/lmn_pwdbased.h" />
		<header-file src="src/ios/include/cryptopp/lmn_queue.h" />
		<header-file src="src/ios/include/cryptopp/lmn_rabin.h" />
		<header-file src="src/ios/include/cryptopp/lmn_randpool.h" />
		<header-file src="src/ios/include/cryptopp/lmn_rc2.h" />
		<header-file src="src/ios/include/cryptopp/lmn_rc5.h" />
		<header-file src="src/ios/include/cryptopp/lmn_rc6.h" />
		<header-file src="src/ios/include/cryptopp/lmn_resource.h" />
		<header-file src="src/ios/include/cryptopp/lmn_rijndael.h" />
		<header-file src="src/ios/include/cryptopp/lmn_ripemd.h" />
		<header-file src="src/ios/include/cryptopp/lmn_rng.h" />
		<header-file src="src/ios/include/cryptopp/lmn_rsa.h" />
		<header-file src="src/ios/include/cryptopp/lmn_rw.h" />
		<header-file src="src/ios/include/cryptopp/lmn_safer.h" />
		<header-file src="src/ios/include/cryptopp/lmn_salsa.h" />
		<header-file src="src/ios/include/cryptopp/lmn_seal.h" />
		<header-file src="src/ios/include/cryptopp/lmn_secblock.h" />
		<header-file src="src/ios/include/cryptopp/lmn_seckey.h" />
		<header-file src="src/ios/include/cryptopp/lmn_seed.h" />
		<header-file src="src/ios/include/cryptopp/lmn_serpent.h" />
		<header-file src="src/ios/include/cryptopp/lmn_serpentp.h" />
		<header-file src="src/ios/include/cryptopp/lmn_sha.h" />
		<header-file src="src/ios/include/cryptopp/lmn_sha3.h" />
		<header-file src="src/ios/include/cryptopp/lmn_shacal2.h" />
		<header-file src="src/ios/include/cryptopp/lmn_shark.h" />
		<header-file src="src/ios/include/cryptopp/lmn_simple.h" />
		<header-file src="src/ios/include/cryptopp/lmn_skipjack.h" />
		<header-file src="src/ios/include/cryptopp/lmn_smartptr.h" />
		<header-file src="src/ios/include/cryptopp/lmn_socketft.h" />
		<header-file src="src/ios/include/cryptopp/lmn_sosemanuk.h" />
		<header-file src="src/ios/include/cryptopp/lmn_square.h" />
		<header-file src="src/ios/include/cryptopp/lmn_stdcpp.h" />
		<header-file src="src/ios/include/cryptopp/lmn_strciphr.h" />
		<header-file src="src/ios/include/cryptopp/lmn_tea.h" />
		<header-file src="src/ios/include/cryptopp/lmn_tiger.h" />
		<header-file src="src/ios/include/cryptopp/lmn_trdlocal.h" />
		<header-file src="src/ios/include/cryptopp/lmn_trunhash.h" />
		<header-file src="src/ios/include/cryptopp/lmn_ttmac.h" />
		<header-file src="src/ios/include/cryptopp/lmn_twofish.h" />
		<header-file src="src/ios/include/cryptopp/lmn_validate.h" />
		<header-file src="src/ios/include/cryptopp/lmn_vmac.h" />
		<header-file src="src/ios/include/cryptopp/lmn_wait.h" />
		<header-file src="src/ios/include/cryptopp/lmn_wake.h" />
		<header-file src="src/ios/include/cryptopp/lmn_whrlpool.h" />
		<header-file src="src/ios/include/cryptopp/lmn_winpipes.h" />
		<header-file src="src/ios/include/cryptopp/lmn_words.h" />
		<header-file src="src/ios/include/cryptopp/lmn_xtr.h" />
		<header-file src="src/ios/include/cryptopp/lmn_xtrcrypt.h" />
		<header-file src="src/ios/include/cryptopp/lmn_zdeflate.h" />
		<header-file src="src/ios/include/cryptopp/lmn_zinflate.h" />
		<header-file src="src/ios/include/cryptopp/lmn_zlib.h" />
	</platform>

</plugin>
